/* target all elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* target body elements */

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

/* target link */

a {
    color: #ffffff;
    text-decoration: none;
}

/* target header */

header {
    background-color: #2a607c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

header h1 {
    color: #ffffff;
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    float: right;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* target hero image */
.hero img {
    height: 800px;
    margin-bottom: 25px;
    object-fit: cover;
    width: 100%;
}

/* target content section */
.content {
    display: inline-block;
    margin-left: 20px;
    width: 75%;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content-section {
    background-color: #0072bb;
    color: #ffffff;
    height: 300px;
    margin-bottom: 20px;
    padding: 50px;
}

.content-section img {
    max-height: 200px;
}

.content-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* target benfits side table */

.benefits {
    background-color: #2589bd;
    clear: both;
    float: right;
    height: 100%;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
}

.benefis-section {
   margin-bottom: 32px;
}

.benefits-section h3 {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.benefits-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits-section p {
    color: #ffffff;
    margin-bottom: 32px;
}

/* target footer section */

.footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    text-align: center;
}

.footer h4 p {
    font-size: 20px;
}
